/* === CSS RESETS ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  line-height: 1;
}

a {
  text-decoration: none;
}

/* === GENERAL STYLES === */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: #f4f4f4;
  color: #444;
  line-height: 1.5;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
}

/* ==== HEADER ==== */
.header {
  background: linear-gradient(to right,
      rgba(213, 106, 24, 0.7),
      hsla(15, 83%, 49%, 0.8));
  padding: 5rem 0;
  color: #f4f4f4;
  text-align: center;

}

.banner-content {
  width: 70%;
  margin: auto;
  text-align: center;
}

.main-header {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.banner-text {
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

.btn-lg {
  display: inline-block;
  background-color: #f4f4f4;
  color: #8a2503;
  font-size: .975rem;
  padding: .75rem 1.5rem;
  border-radius: 4px;
}

.btn-lg:hover {
  color: #f4f4f4;
  background-color: #f5511a;
}

/* ===== NAV ===== */
nav {
  background-color: #e65525;
  overflow: auto;
}

.logo-link,
nav ul li,
nav ul li a {
  display: inline-block;
}

.logo-link {
  color: #f4f4f4;
  margin-top: .7rem;
}

.logo-link h2 {
  font-size: 1.45rem;
}


nav ul {
  float: right;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #f4f4f4;
  font-size: .95rem;
  font-weight: 700;
  padding: 1rem;
}

nav ul li a:hover {
  background-color: #d03d0b;
}





/* === FOOTER ====*/
.footer {
  background: #444;
  color: #f4f4f4;
  text-align: center;
  padding: 2rem;
}