/* === CSS RESETS ==== */
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  line-height: 1;
}

a {
  text-decoration: none;
}

/* === GENERAL STYLES === */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: #f4f4f4;
  color: #444;
  line-height: 1.5;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
}

.main {
  margin: 3rem 0;
}

.clearfix::after {
  content: ' ';
  display: block;
  clear: both;
}

/* ==== HEADER ==== */
.header {
  background: linear-gradient(to right,
      rgba(213, 106, 24, 0.7),
      hsla(15, 83%, 49%, 0.8));
  padding: 7rem 0 5rem;
  min-height: 95vh;
  color: #f4f4f4;
  text-align: center;

}

.banner-content {
  width: 70%;
  margin: auto;
  text-align: center;
}

.main-header {
  font-size: 4rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.banner-text {
  font-size: 1.2rem;
  line-height: 1.7;
  margin-bottom: 3rem;
}


.btn-lg {
  display: inline-block;
  background-color: #f4f4f4;
  color: #8a2503;
  font-size: .975rem;
  padding: .75rem 1.5rem;
  border-radius: 4px;
}

.btn-lg:hover {
  color: #f4f4f4;
  background-color: #f5511a;
}

/* ===== NAV ===== */
nav {
  background-color: #e65525;
  overflow: auto;
}

nav ul {
  margin: 0;
  padding: 0;
}

.logo-link,
nav ul li,
nav ul li a {
  display: inline-block;
}

.logo-link {
  display: inline-block;
  color: #f4f4f4;
  padding: 1rem;
}

.logo-link:hover {
  background: #f5f5f5;
  color: #e65525;
  ;
}

.logo-link h2 {
  font-size: 1.35rem;
  line-height: 1.1;
  margin: 0;
}


nav ul {
  float: right;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #f4f4f4;
  font-size: .95rem;
  font-weight: 700;
  padding: 1rem;
}

nav ul li a:hover {
  background-color: #d03d0b;
}

/* ==== RECIPES SECTION ==== */
.recipes {}

.recipe-card {
  float: left;
  width: 32%;
}

.recipe-card p {
  font-size: 1rem;
  font-weight: 300;
}

.recipe-card a {
  display: inline-block;
  font-size: .95rem;
  color: #d03d0b;
  cursor: pointer;
}

.recipe-card a:hover {
  border-bottom: 1px solid #d03d0b;
}

.recipe-card+.recipe-card {
  margin-left: 1.1rem;
}







/* === FOOTER ====*/
.footer {
  background: #444;
  color: #f4f4f4;
  text-align: center;
  padding: 2rem 0;
}

.footer-text {
  margin: 0;
}